# traefik/traefik.yml
global:
  checkNewVersion: true
  sendAnonymousUsage: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          scheme: https
          to: websecure

  websecure:
    address: ":443"
    http:
      tls:
        options: default
    http2:
      maxConcurrentStreams: 250
    http3:
      advertisedPort: 443

  headscale-https:
    address: "0.0.0.0:8443"
    http:
      tls:
        options: default

  traefik-internal:
    address: "127.0.0.1:8083"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: homelab_web # <--- MATCH your Compose network here

  file:
    directory: /dynamic
    watch: true

api:
  insecure: true
  dashboard: true

log:
  level: INFO
  format: common

accessLog:
  format: common

certificatesResolvers:
  letsencrypt:
    acme:
      email: ${LETSENCRYPT_EMAIL}
      storage: /acme/acme.json
      httpChallenge:
        entryPoints:
          - web
      onHostMissingCert: ignore

tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
      curvePreferences:
        - CurveP384
      sniStrict: true
    tls13:
      minVersion: VersionTLS13
